*{
    margin: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: black;
    justify-content: space-between;
    height: 100px;
}

.nav-title{
    color: rgb(255, 255, 255);
    width: 100px;
    padding-top: 20px;
    padding-left: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    float: center;
    padding-left: 10%;
    font-size: 17px;
    align-items:initial;
    justify-content: end;
    
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}


.btn {
    background: cyan;
    box-shadow: 10px 5px 5px black;
}
